<!--

Página de reset de senha do usuário munícipe  

Falta trabalhar no css

-->


<!DOCTYPE html>
<html>
<head>
    <title>Recuperar a senha</title>
</head>
<body>
    <h2>Recuperar a senha</h2>
    <form method="post">
        {% csrf_token %}
        <label for="email">Email:</label><br>
        <input type="email" id="email" name="email"><br>
        <input type="submit" value="Resetar a senha">
    </form>
    <a href="{% url 'login_municipe' %}">Lembra da sua senha? Acessar</a>
</body>
</html>

