<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Solicitações | Prefeitura Indaiatuba</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
</head>

<body>
    <div class="container">
        <h1 class="my-4">Solicitações</h1>
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>Solicitação</th>
                    <th>Data</th>
                    <th>Status</th>
                    <th>Nome</th>
                    <th>Logradouro</th>
                    <th>Tipo de Solicitação</th>
                    <th>Prioridade</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>1</td>
                    <td>02/04/2024</td>
                    <td>Pendente</td>
                    <td>Anônimo</td>
                    <td>Rua Albânia,77</td>
                    <td>Manutenção</td>
                    <td>Mínima</td>
                    <td><a href="solicitação_1.html" class="btn btn-primary">Ver detalhes</a></td>
                </tr>
                <!-- Adicione mais linhas conforme necessário -->
            </tbody>
        </table>
    </div>
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
</body>
</html>
