<!--

Página de redefinição de senha do usuário munícipe

Falta trabalhar no css

-->

<!DOCTYPE html>
<html>
<head>
    <title>Confirmar Redefinição de Senha</title>
</head>
<body>
    <h2>Confirmar Redefinição de Senha</h2>
    <form action="/confirm-reset-password" method="post">
        <label for="password">Nova Senha:</label><br>
        <input type="password" id="password" name="password" required><br>
        <label for="confirm_password">Confirmar Nova Senha:</label><br>
        <input type="password" id="confirm_password" name="confirm_password" required><br>
        <input type="submit" value="Redefinir Senha">
    </form>
</body>
</html>